# CareLink Environment Configuration
DJANGO_SECRET_KEY=carelink-secure-prod-key-075ae635-3978-4c50-b264-f38dd7443261
DJANGO_DEBUG=True
ALLOWED_HOSTS=*

# Database Engine: 'sqlite' or 'mysql'
DB_ENGINE=sqlite
DB_NAME=carelink_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
